pytube
pillow
aiohttp
aiofiles
tgcrypto
python-dotenv
py-tgcalls==0.8.1rc1
git+https://github.com/ophexor/yt-dl@master
git+https://github.com/pyrogram/pyrogram
git+https://github.com/asmsafone/downloader
